:root {
    --bs-secondary: #494949;
    --bs-primary: #8f8f8f;
}

::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Edge */
}

* {
    color: var(--bs-primary);
}

a {
    text-decoration: none;
}

nav .active {
    color: var(--bs-secondary);
}

.active-chat {
    background: var(--bs-secondary);

}

.active-chat p {
    color: white;
}

.my-msg {
    background: #9cc2ff;
    border-radius: 8px;
}
