{% extends "base.html" %}
{% block content %}
    <main class="container p-4 pb-0 w-100 " style="max-height: calc(100vh - 1rem);">
            <h1 class="row flex-row ms-1"><psan classe="col-12">BOAT</psan> <psan classe="col-12">BOAT</psan> <psan classe="col-12">BOAT !!!</psan></h1>
            {% block content %}{% endblock %}


            <footer class="mt-5">
                <div class="col-12 d-flex flex-wrap bg-light p-4 justify-content-center align-items-center">
                    <p class="align-items-center m-0">Copyright &copy; 2021 - Pagbo</p>
                    <span class="m-0 mx-3"> - </span>
                    <p class="m-0">Created by Guillaume Simonet</p>
                    <span class="m-0 mx-3"> - </span>
                    <p class="m-0">guillaume.simonet@gmail.com</p>
                </div>
            </footer>

        </main>
{% endblock %}
