{% extends "base.html" %}
{% block content %}
  <section id="user" class="mb-5 {{ 'active' if request.path == '/' else '' }}">
        <h2 class="mt-2 ms-3 ">Username</h2>
        <div class="row mx-1">
            <div class="col-12 col-md-6 mb-2">
                <img src="../static/img/boat.png" class="card-img-top" alt="..."></img>
            </div>
            <form class="col-12 col-md-6">
                <div class="col-12">
                    <input type="text" id="Username" placeholder="Username" class="form-control">
                </div>
                <div class="col-12 mt-2">
                    <input type="text" id="Firstname" placeholder="Firstname" class="form-control">
                </div>
                <div class="col-12 mt-2">
                    <input type="text" id="Lastname" placeholder="Lastname" class="form-control">
                </div>
                <div class="col-12 mt-2">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">M</option>
                      <option value="2">F</option>
                      <option value="3">O</option>
                    </select>
                </div>

                <button class="mt-2 col-6 col-md-6 btn btn-primary">Save</button>
            </form>
        </div>

    </section>
{% endblock %}

