{% extends "index.html" %}
{% block content %}
<section id="profile"
         class="mb-5 d-flex flex-column justify-content-center align-items-center{{ 'active' if request.path == '/' else '' }}"
         style="height: 100vh">

    <div class="mt-3 p-2 row d-flex col-12">
        <div class="d-flex">
            <h2 class="pt-3">{{ profile.username }}</h2>
            <div style="width: 15px;">
                {% if online %}
                    <img src="/static/img/Green_Light_Icon.svg" alt="Online" width="15" height="15">
                {% elif not online %}
                    <img src="/static/img/Red_Light_Icon.svg" alt="Online" width="15" height="15">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="data:image/png;base64, {{ profile_image_data }}" alt="Profile Image">
        </div>
        <div class="col-12 col-md-6">
            <div class="pt-2">
                <h1>{{ profile.id }}</h1>
                <p>{{ profile.location }}</p>
                <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                <p>{{ profile.age }} ans</p>
                <p>{{ profile.gender }}</p>
                <p><strong>Search:</strong> {{ profile.gender_pref }}</p>
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
                <p><strong>Fame Rate:</strong> {{ profile.fame_rate }}</p>
            </div>

            <div class="col-12">
                {% for tag in user_tags %}
                <p class="fw-bold bg-secondary text-light rounded p-1 px-2 d-inline-block">{{ tag.name }}</p>
                {% endfor %}
            </div>

            {% if state != 'uninvitation' %}
            <div id="friendship-btn-container" class="col-12 mt-2">

                <p id="alert-invitation-sent" class="d-none alert alert-success">Invitation envoyée</p>
                <p id="alert-connection-sent" class="d-none alert alert-success">You are connected and can now chat</p>

                <!--       block the bitch         -->
                {% if not connected %}
                <button id="btn-send-block" class="btn btn-outline-primary col-2 col-md-3" type="button"
                        data-profile-id="{{ profile.id }}">
                    <i class="bi bi-ban"></i>
                </button>
                {% endif %}

                {% if sent_invitation %}
                <p id="alert-invitation-received" class="alert alert-success">Invitation envoyée</p>
                {% endif %}

                {% if not state %}
                <!--       to send invitation         -->
                <button id="btn-send-invit" class="btn btn-outline-primary col-2 col-md-3" type="button"
                        data-profile-id="{{ profile.id }}">
                    <i class="bi bi-heart"></i>
                </button>
                {% endif %}

                {% if received_invitation %}
                <!--       to send connection         -->
                <button id="btn-send-connect" class="btn btn-outline-primary col-2 col-md-3" type="button"
                        data-profile-id="{{ profile.id }}">
                    <i class="bi bi-heart-half"></i>
                </button>
                {% endif %}
                <!--       to send uninvitation         -->
                {% if connected %}
                <button id="btn-send-uninvit" class="btn btn-outline-primary col-2 col-md-3" type="button"
                        data-profile-id="{{ profile.id }}">
                    <i class="bi bi-heartbreak-fill"></i>
                </button>
                {% endif %}
            </div>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}
