{% extends "base.html" %}
{% block index %}
<div class="col-12 m-0 overflow-auto d-flex flex-column justify-content-center align-items-center">
    <h1>Register</h1>

    <form method="POST" action="/register" enctype="multipart/form-data" class="row col-12 d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-5">
            <!-- Username -->
            <div class="mb-3">
                <label for="username" class="form-label d-flex">Username<p class="alert alert-info py-0 ms-1">3 lettres minimum</p></label>
                <input required type="text" class="form-control" id="username" name="username">
            </div>
            <!-- Last Name -->
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input required type="text" class="form-control" id="last_name" name="last_name">
            </div>
            <!-- First Name -->
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input required type="text" class="form-control" id="first_name" name="first_name">
            </div>
            <!-- Age -->
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input required type="number" class="form-control" id="age" name="age">
            </div>
            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" autocomplete="password" class="form-control" id="password" name="password">
            </div>
            <!-- Confirm Password -->
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input required type="password" autocomplete="password" class="form-control" id="confirm_password" name="confirm_password">
            </div>
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input required type="email" class="form-control" id="email" name="email">
            </div>
        </div>

        <div class="col-12 col-md-5">
            <!-- Profile Image -->
            <div class="mb-3">
                <label for="profile_image" class="form-label">Profile Image</label>
                <input required type="file" class="form-control" id="profile_image" name="profile_image"
                       onchange="previewImage(event)">
            </div>

            <!-- Image preview -->
            <div class="mb-3">
                <img id="image_preview" src="" alt="Image Preview"
                     style="display: none; max-width: 200px; max-height: 200px;"/>
            </div>

            <script>
                function previewImage(event) {
                    const input = event.target;
                    const preview = document.getElementById('image_preview');

                    if (input.files && input.files[0]) {
                        const reader = new FileReader();

                        reader.onload = function (e) {
                            preview.src = e.target.result;
                            preview.style.display = 'block'; // Affiche l'image
                        }

                        reader.readAsDataURL(input.files[0]); // Lit le fichier image comme une URL
                    } else {
                        preview.style.display = 'none'; // Cache l'image si aucun fichier sélectionné
                    }
                }
            </script>
            <!-- Bio -->
            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea required class="form-control" id="bio" name="bio" rows="3"></textarea>
            </div>
            <!-- Gender -->
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender">
                    <option value="" disabled selected>Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <!-- Gender Preference -->
            <div class="mb-3">
                <label for="gender_pref" class="form-label">Gender Preference</label>
                <select class="form-select" id="gender_pref" name="gender_pref">
                    <option value="" disabled selected>Select your preference</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="both">Both</option>
                </select>
            </div>
<!--    TODO : TAGS à mettre en required -->

            <div class="accordion" id="tagsAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTags">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
                            Select Tags (Interests)
                        </button>
                    </h2>
                    <div id="collapseTags" class="accordion-collapse collapse" aria-labelledby="headingTags"
                         data-bs-parent="#tagsAccordion">
                        <div class="accordion-body">
                            <!-- Example of tag checkboxes -->
                            {% for tag in tags %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="tags[]" value="{{ tag.id }}"
                                       id="{{ tag.id }}">
                                <label class="form-check-label" for="{{ tag.id }}">
                                    {{ tag.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Section pour les messages flash -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="alert-container mt-3  col-12 col-md-6 d-flex justify-content-center">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Submit Button -->
        <div class="d-flex justify-content-center mb-4">
            <button type="submit" class="btn btn-primary col-12 col-md-2">Submit</button>
        </div>

    </form>

    <a href="/login">Already have an account ?</a>

</div>
{% endblock %}