{% extends "base.html" %}
{% block index %}
<div class="col-12 m-0 overflow-auto d-flex flex-column justify-content-center align-items-center">
    <h1>Reset password</h1>

    <form id="form-reset-password" method="POST" action="/reset_password" class="col-md-4 mt-5">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Recevoir le mail</button>
        <div class="mt-2 w-100 text-center">
            <a href="/login">Login</a>
        </div>

    </form>
    <!-- Section pour les messages flash -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="alert-container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
