{% extends "index.html" %}
{% block content %}
<section id="search" class="mb-5 w-100 {{ 'active' if request.path == '/' else '' }}">
    <div class="m-0 p-0 container-fluid d-flex flex-column justify-content-center align-items-center">
        <div class="w-100 d-flex justify-content-center align-items-center">
            <input id="help_me" type="checkbox" checked>
            <p class="ps-1 m-0">Suggère moi que des BG</p></input>
        </div>

        <div class="row col-10 justify-content-between shadow-sm rounded mb-5 bg-light">
            <div class="col-5 col-md-3 p-0 my-auto dropdown my-3">
                <button style="min-width: 133px;" class="btn btn-light text-secondary dropdown-toggle" type="button"
                        id="dropdownOrder"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownFilters">
                    <li id="age-sort-asc" class="link-sort ps-2" style="cursor: pointer">Age ASC</li>
                    <li id="age-sort-dsc" class="link-sort ps-2" style="cursor: pointer">Age DSC</li>
                    <li id="fame-rate-sort" class="link-sort ps-2" style="cursor: pointer">Fame rating</li>
                    <li id="common-tags-sort" class="link-sort ps-2" style="cursor: pointer">Common tags</li>
                    <li id="location-sort" class="link-sort ps-2" style="cursor: pointer">Location</li>
                </ul>
            </div>
            <div class="col-5 col-md-3 d-flex mb-4 p-0 mt-4 d-flex justify-content-around">

                <div class="my-auto dropdown my-3">
                    <button style="min-width: 123px;" class="btn btn-light text-secondary dropdown-toggle"
                            type="button"
                            id="dropdownFilters"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Filters
                    </button>
                    <ul id="filters" class="dropdown-menu p-3" aria-labelledby="dropdownFilters"
                        style="width: 300px;">
                        <!-- Filtre par âge -->
                        <li class="mb-3">
                            <label for="ageRangeMin" class="form-label d-flex align-items-center">
                                <input id="age_filter_activated" type="checkbox" class="form-check form-check-inline"/>
                                Age Range
                            </label>
                            <div class="d-flex align-items-center">
                                <input type="number" id="ageMin" class="form-control me-2" style="width: 80px;"
                                       value="18" min="18" max="100">
                                <span class="me-2">to</span>
                                <input type="number" id="ageMax" class="form-control" style="width: 80px;"
                                       value="40" min="18" max="100">
                            </div>
                            <input type="range" class="form-range" id="ageRangeMin" min="18" max="100" value="18"
                                   oninput="document.getElementById('ageMin').value = this.value">
                            <input type="range" class="form-range mt-2" id="ageRangeMax" min="18" max="100"
                                   value="40"
                                   oninput="document.getElementById('ageMax').value = this.value">
                        </li>

                        <!-- Filtre par localisation -->
                        <li class="mb-3">
                            <label for="locationRange" class="form-label d-flex align-items-center">
                                <input id="location_filter_activated" type="checkbox"
                                       class="form-check form-check-inline"/>
                                Location Radius (km)
                            </label>
                            <input type="number" id="locationValue" class="form-control mb-2" style="width: 100px;"
                                   value="5" min="1" max="50">
                            <input type="range" class="form-range" id="locationRange" min="1" max="50" value="5"
                                   oninput="document.getElementById('locationValue').value = this.value">
                        </li>

                        <!-- Filtre par Fame Rating -->
                        <li>
                            <label for="fameRange" class="form-label d-flex align-items-center">
                                <input id="fame_rate_filter_activated" type="checkbox"
                                       class="form-check form-check-inline"/>
                                Fame Rating
                            </label>
                            <input type="number" id="fameValue" class="form-control mb-2" style="width: 100px;"
                                   value="0" min="0" max="5" step="0.1">
                            <input type="range" class="form-range" id="fameRange" min="0" max="5" step="0.1"
                                   value="0"
                                   oninput="document.getElementById('fameValue').value = this.value">
                        </li>

                        {% if all_tags %}
                        <li>
                            <label class="form-label d-flex align-items-center">
                                <input id="tags_filter_activated" type="checkbox" class="form-check form-check-inline"/>
                                Tags Filter
                            </label>
                            {% for tag in all_tags %}
                            <div id="tagList">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ tag.name }}"
                                           id="tag_{{ tag.id }}">
                                    <label class="form-check-label" for="tag_{{ tag.id }}">
                                        {{ tag.name }}
                                    </label>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>

                <span class="d-none" id="user-tags" data-user-tags="{{ user_tags }}"></span>
                <span class="d-none" id="location" data-user-lat="{{ user_lat }}"
                      data-user-lng="{{ user_lng }}"></span>

            </div>
        </div>

        <div class="row p-0 m-0 flex-row justify-content-center col-12 gap-1" id="profile-list">
            {% for profile in filtered_profiles %}

            <a id="view-profile" href="/profile/{{ profile.id }}"
               class="col-12 col-md-4 card shadow p-2 d-flex justify-content-between border-0"
               style="min-height: 300px; max-width: 420px;"
               data-profile="{{ profile }}">

                <div style="max-height: 200px; overflow: hidden;">
                    <img class="img-fluid" id="profile_image" src="data:image/png;base64, {{ profile.profile_image }}"
                         alt="Profile Image">
                </div>

                <p class="m-0 mt-2 fw-bold">{{ profile.username }}</p>
                <p class="m-0 mt-2 fw-bold">{{ profile.age }}</p>

            </a>

            {% endfor %}

        </div>
    </div>
    <script>

        document.querySelector('#profile-list')?.addEventListener('click', function (event) {
            const target = event.target.closest('a[id="view-profile"]');

            if (target) {
                const profile = target.getAttribute('data-profile');
                const fixedProfile = profile.replace(/'/g, '"');

                const profileObj = JSON.parse(fixedProfile);
                profileId = profileObj.id;

                socket.emit('view_profile', {'receiver_id': profileId});
            }
        });

        document.querySelector('#age-sort-asc')?.addEventListener('click', function (event) {
            let profiles = Array.from(document.querySelectorAll('#profile-list .card'));

            profiles.sort((a, b) => {
                const profile_a = a.getAttribute('data-profile');
                const fixedProfile_a = profile_a.replace(/'/g, '"');
                const profileObj_a = JSON.parse(fixedProfile_a);

                const profile_b = b.getAttribute('data-profile');
                const fixedProfile_b = profile_b.replace(/'/g, '"');
                const profileObj_b = JSON.parse(fixedProfile_b);


                return parseInt(profileObj_a.age) - parseInt(profileObj_b.age);
            });

            const container = document.getElementById('profile-list');
            profiles.forEach(profile => container.appendChild(profile));
        })

        document.querySelector('#age-sort-dsc')?.addEventListener('click', function (event) {
            let profiles = Array.from(document.querySelectorAll('#profile-list .card'));

            profiles.sort((a, b) => {
                const profile_a = a.getAttribute('data-profile');
                const fixedProfile_a = profile_a.replace(/'/g, '"');
                const profileObj_a = JSON.parse(fixedProfile_a);

                const profile_b = b.getAttribute('data-profile');
                const fixedProfile_b = profile_b.replace(/'/g, '"');
                const profileObj_b = JSON.parse(fixedProfile_b);


                return parseInt(profileObj_b.age) - parseInt(profileObj_a.age);
            });

            const container = document.getElementById('profile-list');
            profiles.forEach(profile => container.appendChild(profile));
        })

        document.querySelector('#fame-rate-sort')?.addEventListener('click', function (event) {
            let profiles = Array.from(document.querySelectorAll('#profile-list .card'));

            profiles.sort((a, b) => {
                const profile_a = a.getAttribute('data-profile');
                const fixedProfile_a = profile_a.replace(/'/g, '"');
                const profileObj_a = JSON.parse(fixedProfile_a);

                const profile_b = b.getAttribute('data-profile');
                const fixedProfile_b = profile_b.replace(/'/g, '"');
                const profileObj_b = JSON.parse(fixedProfile_b);


                return parseInt(profileObj_b.fame_rate) - parseInt(profileObj_a.fame_rate);
            });

            const container = document.getElementById('profile-list');
            profiles.forEach(profile => container.appendChild(profile));
        })

        document.querySelector('#common-tags-sort')?.addEventListener('click', function (event) {
            let profiles = Array.from(document.querySelectorAll('#profile-list .card'));
            let user_tags = document.querySelector('#user-tags').getAttribute('data-user-tags');

            function countCommonTags(profileTags) {
                return profileTags.filter(tag => user_tags.includes(tag)).length;
            }

            profiles.sort((a, b) => {
                const profile_a = a.getAttribute('data-profile');
                const fixedProfile_a = profile_a.replace(/'/g, '"');
                const profileObj_a = JSON.parse(fixedProfile_a);
                const tagsA = profileObj_a.tags || '[]';

                const profile_b = b.getAttribute('data-profile');
                const fixedProfile_b = profile_b.replace(/'/g, '"');
                const profileObj_b = JSON.parse(fixedProfile_b);
                const tagsB = profileObj_b.tags || '[]';

                const commonTagsA = countCommonTags(tagsA);
                const commonTagsB = countCommonTags(tagsB);

                return commonTagsB - commonTagsA;
            });

            const container = document.getElementById('profile-list');
            profiles.forEach(profile => container.appendChild(profile));
        })

        document.querySelector('#location-sort')?.addEventListener('click', function (event) {
            let profiles = Array.from(document.querySelectorAll('#profile-list .card'));

            let userLatitude = document.querySelector('#location');
            if (userLatitude) {
                userLatitude = parseFloat(userLatitude.getAttribute('data-user-lat'));
            }
            let userLongitude = document.querySelector('#location');
            if (userLongitude) {
                userLongitude = parseFloat(userLongitude.getAttribute('data-user-lng'));
            }

            // Fonction pour calculer la distance entre deux points (en km)
            function calculateDistance(lat1, lon1, lat2, lon2) {
                const R = 6371; // Rayon de la Terre en km
                const phi1 = lat1 * 0.01745329;
                const phi2 = lat2 * 0.01745329;
                const deltaPhi = (lat2 - lat1) * 0.01745329;
                const deltaLambda = (lon2 - lon1) * 0.01745329;

                const a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +
                    Math.cos(phi1) * Math.cos(phi2) *
                    Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);
                const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

                return R * c;
            }

            // Trier les profils en fonction de la distance à l'utilisateur
            profiles?.sort((a, b) => {
                const profile_a = a.getAttribute('data-profile');
                const fixedProfile_a = profile_a.replace(/'/g, '"');
                const profileObj_a = JSON.parse(fixedProfile_a);

                const profile_b = b.getAttribute('data-profile');
                const fixedProfile_b = profile_b.replace(/'/g, '"');
                const profileObj_b = JSON.parse(fixedProfile_b);

                const latA = parseFloat(profileObj_a.lat);
                const lonA = parseFloat(profileObj_a.lng);
                const latB = parseFloat(profileObj_b.lat);
                const lonB = parseFloat(profileObj_b.lng);

                console.log(latA, lonA)
                console.log(latB, lonB)


                const distanceA = calculateDistance(userLatitude, userLongitude, latA, lonA);
                const distanceB = calculateDistance(userLatitude, userLongitude, latB, lonB);

                return distanceA - distanceB; // Trier du plus proche au plus éloigné
            });

            // Réinsérer les profils triés dans le DOM
            const container = document.getElementById('profile-list');
            profiles.forEach(profile => container.appendChild(profile));
        });

        function display_filtered_list() {
            let userLatitude = document.querySelector('#location');

            if (userLatitude) {
                userLatitude = parseFloat(userLatitude.getAttribute('data-user-lat'));
            }
            let userLongitude = document.querySelector('#location');
            if (userLongitude) {
                userLongitude = parseFloat(userLongitude.getAttribute('data-user-lng'));
            }
            const ageMin = document.getElementById('ageMin')?.value;
            const ageMax = document.getElementById('ageMax')?.value;
            const locationRadius = document.getElementById('locationValue')?.value;
            const fameRating = document.getElementById('fameValue')?.value;

            let selectedTags = [];
            let checkboxes = document.querySelectorAll('#tagList .form-check-input');

            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedTags.push(checkbox.value);
                }
            });

            const age_filter_activated = document.getElementById('age_filter_activated')?.checked;
            const location_filter_activated = document.getElementById('location_filter_activated')?.checked;
            const fame_rate_filter_activated = document.getElementById('fame_rate_filter_activated')?.checked;
            const tags_filter_activated = document.getElementById('tags_filter_activated')?.checked;

            const help = document.getElementById('help_me').checked;

            fetch('/apply_filters', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    age_min: ageMin,
                    age_max: ageMax,
                    location_radius: locationRadius,
                    fame_rating: fameRating,
                    user_lat: userLatitude,
                    user_lon: userLongitude,
                    age_filter_activated: age_filter_activated,
                    location_filter_activated: location_filter_activated,
                    fame_rate_filter_activated: fame_rate_filter_activated,
                    tags_filter_activated: tags_filter_activated,
                    selected_tags: selectedTags,
                    help: help
                })
            })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    const container = document.getElementById('profile-list');
                    container.innerHTML = '';

                    data.filtered_profiles?.forEach(profile => {
                        const profileCard = document.createElement('a');
                        profileCard.href = `/profile/${profile.id}`;
                        profileCard.className = 'col-12 col-md-4 card shadow p-2 d-flex justify-content-between border-0';
                        profileCard.style = 'min-height: 300px; max-width: 420px;';
                        profileCard.setAttribute('data-profile', JSON.stringify(profile));

                        profileCard.innerHTML = `
                            <div style="max-height: 200px; overflow: hidden;">
                                <img class="img-fluid" id="profile_image" src="data:image/png;base64, ${profile.profile_image}"
                                     alt="Profile Image">
                            </div>
                            <p class="m-0 mt-2 fw-bold">${profile.username}</p>
                            <p class="m-0 mt-2 fw-bold">${profile.age}</p>
                        `;

                        container.appendChild(profileCard);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        document.querySelector('#filters')?.addEventListener('change', function () {
            display_filtered_list()
        });

        document.querySelector('#help_me').addEventListener('change', function () {
            display_filtered_list()
        })

    </script>
</section>
{% endblock %}
