{% extends "index.html" %}
{% block content %}
<section id="search" class="mb-5 w-100 {{ 'active' if request.path == '/' else '' }}">
    <div class="m-0 p-0 container-fluid border border-dark rounded">
        <form class="col-12 col-md-8 d-flex mb-4 mt-4 ">
            <div class="pb-2 px-2 border-bottom border-secondary border-2 rounded col-12 col-md-8 d-flex justify-content-between">
                <div class="col-4 col-md-3 my-auto dropdown my-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFilters"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Filters
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFilters">
                        <li class="">
                            <label for="customRange1" class="form-label">Example range</label>
                            <input type="range" class="form-range" id="customRange1">
                        </li>
                        <li class="">
                            <label for="customRange2" class="form-label">Example range</label>
                            <input type="range" class="form-range" id="customRange2">
                        </li>
                    </ul>
                </div>

                <div class="col-4 col-md-3 my-auto dropdown my-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOrder"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Ordered
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFilters">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

                <button class="col-4 col-md-3 my-auto btn btn-primary">Save</button>
            </div>
        </form>
        <div class="row p-0 m-0 flex-row">
            <div class="p-0 m-0 row flex-row">
                {% if filtered_profiles %}
                {% for profile in filtered_profiles %}
                <a href="/profile/{{ profile.id }}"
                   class="col-12 col-md-4 card border p-2 d-flex justify-content-between m-0">
                    <div style="max-height: 200px; overflow: hidden;">
                        <img class="img-fluid" class="form-control" id="profile_image" src="data:image/png;base64, {{ profile.profile_image }}" alt="Profile Image">
                    </div>
                    <p class="m-0 mt-2 fw-bold">{{ profile.username }}</p>
<!--                    <p class="m-0 mt-2 fw-bold">{{ profile.id }}</p>-->
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
